# Build results
01-Estrutura/.vs/01-Estrutura/xs/UserPrefs.xml
Revisao/Revisao.sln
Revisao/.vs/Revisao/xs/UserPrefs.xml
*/bin
01-Estrutura/01-Estrutura.sln
01-Estrutura/.vscode/
Revisao/obj/
01-Estrutura/obj/
*/bin/
*/obj/
*.obj
.builds
*.tmp
*.tmp_proj
*.log

# Visual Studio Code
.vscode/